<h1>Results Page</h1>


   <li>Name: <strong><%= data["name"] %></strong></li> 
   <li>Weight: <strong><%= data["weight"] %></strong></li> 
   <li>Height: <strong><%= data["height"] %></strong></li> 
   <li>Experience: <strong><%= data["base_experience"] %></strong></li> 


<a href="/">Back</a>